.label, .badge{
	margin-right: 5px;
    display: inline-block;
}
.locations{
	display: inline-block !important;
    width: 100%;
    height: 3em;
    margin-bottom: 5px;
    line-height: 3em !important;
    vertical-align: middle;
    background-color: #BDE5F8 !important;
    color: black !important;
}
.deleteButton{
	line-height: 1;
    font-size: 0.5;
    float: right;
    display: inline-block;
    background: none;
    border: none;
}