<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="lostFoundHome.html">
    <wr fill clickable ng-click="goTo('lostFoundlostForm')">
        <wc fill> <span>Lost Something?</span> </wc>
        <wc>
            <wi name="angle-right"></wi>
        </wc>
    </wr>
    <wr fill clickable ng-click="goTo('lostList')">
        <wc fill> <span>Found Something?</span> </wc>
        <wc>
            <wi name="angle-right"></wi>
        </wc>
    </wr>
</script>

<script type="text/ng-template" id="lostList.html">
    <widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
        <widget-cell fill>
            <span class="itemName">{{item.title}}</span>
            <span class="badge badge-balanced"> {{ item.location[0] }} - {{item.date[0] | date:'MM/dd/yy'}} </span>
            <br/>
            <b>Details:</b><span> {{item.details | limitTo: 50}}{{item.details.length > 50 ? '...' : ''}} </span>
        </widget-cell>
        <widget-cell>
            <widget-icon name="angle-right"></widget-icon>
        </widget-cell>

    </widget-row>

</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="lostFoundDetails.html">
    <!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
    <wr>
        <wc>
            <h2>{{detailsItem.title}}</h2></wc>
    </wr>
    <wr>
        <wc><span ng-repeat="location in detailsItem.location" class="badge badge-balanced">
        {{location}}
    </span></wc>
    </wr>
    <wr>
        <wc><span>
        <b>It was lost around: </b>
        {{detailsItem.date[0] | date:'MMM d, y h:mm a'}} - {{detailsItem.date[1] | date:'MMM d, y h:mm a'}}
    </span></wc>
    </wr>
    <wr>
        <wc>
            <div class="pDetails">{{detailsItem.details}}</div>
        </wc>
    </wr>
</script>

<script type="text/ng-template" id="lostFoundlostForm.html">
    <wr>
        <h1>Lost Item Info:</h1>
    </wr>    
	<wr>
    </wr>
    <wr>
        What is the item?
    </wr>    
    <wr>
        <input
            type="text" />
    </wr>
    <wr>
        Description of the item.
    </wr>
    <wr>
        <input
            type="text" />
    </wr>
    <wr>
        When did you notice you lost it (day, time)?
    </wr>
    <wr>
        <wc>
            Day:
        </wc>
        <wc>
            <input
                type="date" name="Date" />
        </wc>    
    </wr>
    <wr>
        <wc>
            Time Range: *
        </wc>
        <wc>
            <input
                   type="time" name="Initial Time" />
        </wc>
        <wc>
            <input
                   type="time" name="Final Time" />
        </wc>
    </wr>    
    <wr>
        Where do you think you lost it (general area)?
    </wr>
    <wr>
        <wc>
        	<select>
  				<option value="acw">Accelerator Centre Waterloo (ACW)</option>
  				<option value="al">Arts Lecture Hall (AL)</option>
  				<option value="arc">School of Architecture (ARC)</option>
  				<option value="b1">Biology 1 (B1)</option>
            </select>
        </wc>
        <wc>
            <button class="plusButton" ng-click="plus()">
      			+
    		</button>
        </wc>    
    </wr>
    <wr>
        Contact Info:
    </wr>
    <wr>
        <wc>
            Cell#: **
        </wc>
        <wc>
            <input
            type="text" />
        </wc>
    </wr>
    <wr>
        * - Second time is not required.
    </wr>
    <wr>
        ** - not required (recommended).
    </wr>    
    <wr>
        <button class="submitButton" ng-click="submit()">
      Submit
    	</button>
    </wr>    
</script>