<!-- Primary template that will get shown when widget loads -->
<script type="text/ng-template" id="lostFoundMain.html"> 
	<widget-row ng-repeat="item in items" clickable ng-click="showDetails(item)">
		<widget-cell fill>
			<span class="itemName">{{item.title}}</span>
			 <span class="badge badge-balanced"> {{ item.location[0] }} - {{item.date[0] | date:'MM/dd/yy'}} </span>
             <br/>
             <b>Details:</b><span> {{item.details | limitTo: 50}}{{item.details.length > 50 ? '...' : ''}} </span>
		</widget-cell>
		<widget-cell>
			<widget-icon name="angle-right"></widget-icon>
		</widget-cell>

	</widget-row>
    
</script>

<!-- This template gets shown when user clicks one of the items in the list -->
<script type="text/ng-template" id="lostFoundDetails.html"> 
	<!-- 'wr' and 'wc' are short for 'widget-row' and 'widget-cell' -->
	<wr>
		<wc><h2>{{detailsItem.title}}</h2></wc>
	</wr>
	<wr><wc><span ng-repeat= "location in detailsItem.location" class="badge badge-balanced">
        {{location}}
    </span></wc></wr>
    <wr><wc><span>
        <b>It was lost around: </b>{{detailsItem.date[0] | date:'MMM d, y h:mm a'}} - {{detailsItem.date[1] | date:'MMM d, y  date:'MMM d, y h:mm a'}}
    </span></wc></wr>
	<wr><wc><div class="pDetails">{{detailsItem.details}}</div></wc></wr>
</script>

<script type="text/ng-template" id="lostFoundlostForm.html">
    <wr>
        <h1>Lost Form</h1>
    </wr>    
	<wr>
        <wc>
        <wi name="star"></wi>
        </wc>
        <wc fill>
            <h2>Enter info about item lost:</h2>
        </wc>
        <wc>
        <wi name="star"></wi>
        </wc>
    </wr>
    <wr>
        <wc fill>
            What is the item?
        </wc>
        <wc>
            <input
            type="text" />
        </wc>
    </wr>
    <wr>
        <wc fill>
            Description of item.
        </wc>
        <wc>
            <input
            type="text" />
        </wc>
    </wr>
    <wr>
        <wc fill>
            When did you notice you lost it (day, time)?
        </wc>
        <wc>
            <input
            type="text" />
        </wc>
    </wr>
    <wr>
        <wc fill>
            Where do you think you lost it (general area)?
        </wc>
        <wc>
            <input
            type="text" />
        </wc>
    </wr>
    <wr>
        <wc fill>
            Contact Info:
        </wc>
        <wc>
            <input
            type="text" 
            placeholder="Name"/>
        </wc>
        <wc>
            <input
            type="text" 
            placeholder="Email"/>
        </wc>
        <wc>
            <input
            type="text" 
            placeholder="Cell #"/>
        </wc>
    </wr>        
</script>